.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax (350px, lfr));
    
}

.heading {
     background-color: #cb202d;
     color: #ffffff;
     margin-bottom: 10px;
     text-align: center;
}



.card {
    max-width: 17em;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0 1.5em 5em 3em;
    display: flex;
    flex-direction: column;
   
    

}

.card img {
    max-width: 100%;
    border-radius: .9em .9em 0 0;
}

.card-body {
    padding: 0 1em 1em;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

p {
    margin-top: auto;
}

button {
    padding: .8em 1.5em;
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: auto;
    
    
}

main {
    text-align: center;
    display: -webkit-box;
        display: -ms-flexbox
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding:  2em;
    margin-top: .2em;
    
    }


@media only screen and (max-width: 600px) {
    main {  
      flex-direction: column;
      gap: 10px;
    }
}
