
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax (350px, lfr));
}
    

.heading {
     background-color: #cb202d;
     color: #ffffff;
     margin-bottom: 10px;
     text-align: center;
}



.card {
    max-width: 17em;
    border: 2px solid black;
    border-radius: 1em;
     margin: 0 5px;

}

.card img {
    max-width: 100%;
    border-radius: .9em .9em 0 0;
}

.card-body {
    padding: 0 1em 1em;

}

button {
    padding: .8em 1.5em;
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  3em;
    margin-top: 3em;
}